<section class="todo-list-wrapper">

  <h1 class="title">ToDo App</h1>
  <div class="new-todo">
    <input (keydown.enter) = "addTodo()" type="text" placeholder="Nueva Tarea" [formControl]="newTodo" >

    <button (click)="addTodo()"  >+</button>
  </div>
  {{ newTodo.valid | json }}
  <div class="filters">
    <button (click)="changeFilter('all')" [class.active]="filter() === 'all'" >Todas</button>
    <button (click)="changeFilter('actives')" [class.active]="filter() === 'actives'" >Activos</button>
    <button (click)="changeFilter('completed')" [class.active]="filter() === 'completed'" >Completados</button>
  </div>

  <ul class="todoList">
    <!-- Tareas ya editadas -->

    @for (todo of todoListFiltered(); track todo.id ){

      <!-- Editando -->
      @if(todo.editing){
        <li class="todo-editing">
          <input type="text" placeholder="Editar Tarea" [value]="todo.title" #editedTitle
          (keydown.enter)="saveTitleTodo(todo.id, $event)">

          <button class="cancel">Cancelar</button>
        </li>
      } @else{
        <li class="todo-item">
          <input type="checkbox" [checked]="todo.completed" (click)="toggleTodo(todo.id)" >
          <span class="todo-text">{{todo.title}}</span>
          <div class="acciones">
            @if(!todo.completed){
              <button (click) = "updateTodoEditingMode(todo.id)" class="edit">Editar</button>
            }
            <button (click)="removeTodo(todo.id)" class="delete">Eliminar</button>
          </div>
        </li>
      }
    }



  </ul>

</section>
