.sidebar-header {
  padding-top: 24px;
  text-align: center;
}

.sidebar-header > img {
  background-color: black;
  border-radius: 100%;
  object-fit: cover;
}

.header-text {
  > h2 {
    margin: 8px 0 4px 0;
    font-size: 20px;
  }

  > p {
    margin: 0;
    font-size: 14px;
  }
}
