<div class="sidebar-header" [class.collapsed]="collapse()">
  @if (collapse()) {
  <img width="40" height="40" src="assets/kirby2.png" alt="" />
  } @else {
  <img
    style="padding: 20px"
    width="100"
    height="100"
    src="assets/kirby2.png"
    alt=""
  />

  } @if (!collapse()) {
  <div class="header-text">
    <h2>Channel Name</h2>
    <p>Alvaro Neira</p>
  </div>

  }
</div>

<ul class="nav-list" [class.collapsed]="collapse()">
  @for( item of menuItems(); track item.label){
  <li class="nav-item" [routerLink]="item.path" routerLinkActive="active">
    <mat-icon>{{ item.icon }}</mat-icon>
    @if(!collapse()) {
    <span>{{ item.label }}</span>
    }
  </li>
  }
</ul>
