.container {
	background: linear-gradient(35deg, rgba(7, 1, 172, 1) 0%, rgba(235, 70, 252, 1) 100%);
  padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100%;

}

.container .card {
	width: 500px;
}

.container .card__title {
	justify-content: center;
  color: red;
}

.container .card .form {
	display: flex;
	flex-direction: column;
  gap: 2px;

}
