<div class="container">
  <div class="grid-menu">
    <app-menu></app-menu>
  </div>
  <div class="grid-header">
    <app-header></app-header>
  </div>
  <div class="grid-main">
    <main class="main">
      <h1>Contenido</h1>

      <input
        style="color: black"
        type="text"
        placeholder="Nombre"
        [(ngModel)]="texto"
      />
      <p style="color: white">{{ texto }}</p>
      <button
        (click)="cambiarValor()"
        style="
          background-color: #4caf50; /* Green */
          border: none;
          color: white;
        "
      >
        Cambiar
      </button>

      <section>
        <select
          style="background-color: black; color: white"
          (change)="onSelectChange($event)"
        >
          <option *ngFor="let item of ListObject" [value]="item.key">
            {{ item.value }}
          </option>
        </select>
      </section>

      <div style="margin-top: 10px">
        <div
          style="display: flex; justify-content: space-between; padding: 10px"
          *ngFor="let item of filteredTodos; let isOdd = odd; let isEven = even"
          [ngStyle]="{
            color: item.completed ? '#292929' : 'red',
            'background-color': isOdd ? 'gray' : '#C6C9D1'
          }"
        >
          <p>{{ item.title }}</p>
          <input
            type="checkbox"
            [checked]="item.completed"
            style="
              color: white;
              background-color: blue;
              padding: 2px;
              border-radius: 10%;
            "
            (change)="toggleCompleted(item)"
          />
        </div>
      </div>
    </main>
  </div>
</div>
