<header class="header">
  <div class="title-container">
    <div style="background-color: blue; width: 60px; height: 60px"></div>
    <div class="title">
      <p>{{ title() }}</p>
      <p>{{ subtitle() }}</p>
    </div>
  </div>

  <ul class="options-header">
    <li i18n>Documentación</li>
    <li i18n>Acerca de</li>

    <select
      class="language-selector"
      #optionvalue
      (change)="changeValue(optionvalue.value)"
    >
      @for(language of languages(); track language.code){
      <option
        [value]="language.code"
        [selected]="language.code === currentLanguage()"
      >
        {{ language.name }}
      </option>
      }
    </select>
  </ul>
</header>
