<header class="header">
  <div class="title-container">
    <div style="background-color: blue; width: 60px; height: 60px"></div>
    <div class="title">
      <p>{{ title() }}</p>
      <p>{{ subtitle() }}</p>
    </div>
  </div>

  <ul class="options-header">
    <li i18n>Documentación</li>
    <li i18n>Acerca de</li>
    <li>
      <select>
        <option value="es">ES-Pe</option>
        <option value="en">EN</option>
        <option value="fr">FR</option>
        <option value="de">DE</option>
        <option value="it">IT</option>
      </select>
    </li>
  </ul>
</header>
