<div cdk-overlay-origin class="trigger" #fallbackOrigin (click)="open()">
  @if (value) {
    <span class="symbol">{{ value.simbol }}</span>
    <span class="name">{{ value.name }}</span>
  }
</div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="overlayOrigin || fallbackOrigin"
  [cdkConnectedOverlayOpen]="panelOpen()"
  (backdropClick)="close()"
  (detach)="close()"
>
  <div class="panel">
    <ul class="panel-container">
      @for (emo of emojis(); track emo.name) {
        <li class="emoji-item" (click)="selectedEmoji(emo)">
          <span>
            {{ emo.simbol }}
          </span>
        </li>
      }
    </ul>
  </div>
</ng-template>
