.container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"grid-menu grid-header"
		"grid-menu grid-main";
  height: 90vh;
}

.grid-menu {
	grid-area: grid-menu;
}

.grid-header {
	grid-area: grid-header;
	padding: 40px 20px;
}

.grid-main {
	grid-area: grid-main;
  font-size: 25px;
}

.main {
  background-color: rgba(56, 56, 56, 0.913);
  color: white;
	padding: 20px;
  height: 100%;
}
