<div
  class="bg-black bg-opacity-50 w-full h-full fixed top-0 left-0 flex justify-center items-center z-10"
>
  <div
    class="flex flex-col border bg-blue-950 p-28 gap-5 "
  >
    <div>
      <label class="text-white w-48 block" for="nombre">Nombre</label>
      <input
        class="w-48"
        id="nombre"
        type="text"
        [(ngModel)]="nuevoItem.nombre"
      />
    </div>
    <div>
      <label class="text-white w-48 block" for="descripcion">Descripción</label>
      <textarea
        class="w-48"
        id="descripcion"
        [(ngModel)]="nuevoItem.descripcion"
      >
      </textarea>
    </div>


    <div>
      <label class="text-white w-48 block" for="tipos">Tipos</label>
      <mat-form-field>
        <mat-label>Tipos</mat-label>
        <mat-select multiple [(ngModel)]="tiposSeleccionados" multiple (change)="validarSeleccion($event)">
          @for (item of tiposArray; track item) {
            <mat-option [value]="item">{{item}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

    <!-- <div>
      <label class="text-white w-48 block" for="tipos">Tipos</label>
      <select name="" id="" [(ngModel)]="tiposSeleccionados" multiple (change)="validarSeleccion($event)">
        @for (item of tiposArray; track item ){
          <option [value]="item">{{item}}</option>
        }
        @if(tiposSeleccionados.length > 1){
          <p class="text-white">Tipos seleccionados: {{tiposSeleccionados.join(' | ')}}</p>
        }@else{
          <p class="text-white">Tipo seleccionado: {{tiposSeleccionados.join(' | ')}}</p>
        }
      </select>

    </div> -->

    <div class="text-white flex gap-5">
      <button class="bg-green-700 p-2" (click)="agregar()">Agregar</button>
      <button class="bg-red-500 p-2" (click)="onButtonClick()">Cerrar</button>
    </div>
  </div>
</div>
