<section class="todo-container">
  <form class="form-todo">
    <div class="form-group">
      <label for="todoInput">Todo:</label>
      <input
        type="text"
        id="todoInput"
        [value]="newTodo()"
        (input)="newTodo.set($any($event.target).value)"
        name="newTodo"
        placeholder="ingresa nueva tarea"
      />
    </div>
    <button (click)="addTodo()" class="btn btn-add">Add Todo</button>
  </form>

 <ul class="todo-list" [@listAnimation]>
  @for(todosignal of todos(); track todosignal; let i = $index) {
    <li
      class="todo-item"
      [@itemAnimation]
      [ngStyle]="{
        'background-color': i % 2 === 0 ? '#000' : 'white',
        'color': i % 2 === 0 ? 'white' : 'black'
      }"
    >
      <p>{{ todosignal }}</p>
      <button (click)="removeTodo(todosignal)" class="btn btn-remove">
        Remove
      </button>
    </li>
  }
</ul>
</section>
