section {
  margin: 5px;
  padding: 5px;
  min-height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #14cb79;
  margin: 5px;
  height: 80vh;
}
