section {
  margin: 5px;
  padding: 5px;
  min-height: 100vh;
}

div {
}

.list-videos {
  display: flex;

  border: 4px solid #14cb79;
  margin: 5px;
  height: 80vh;
  flex-wrap: wrap;

  justify-content: center;
  background-color: red;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
