<div class="container "  >
	<mat-toolbar color="primary" class="toolbar">
		<span>My App</span>
		<span class="toolbar__spacer"></span>

		<button mat-icon-button class="favorite-icon" (click)="drawer.toggle()">
		  <!-- <mat-icon
        [matBadge]="count"
        matBadgeColor="accent" aria-hidden="false">shopping_cart</mat-icon>  -->

        <mat-icon [matBadge]="count" matBadgeColor="accent" aria-hidden="false">shopping_cart</mat-icon>
		</button>
	</mat-toolbar>

	<mat-drawer-container class="drawer-container">
		<mat-drawer #drawer mode="over" position="end" class="drawer-container__drawer">
      <h3>Productos seleccionados</h3>

      <ul *ngIf="productsInCart.length > 0; else emptyCart">
        <li *ngFor="let product of productsInCart">

          <div>
            <p>Nombre: {{ product.product.title }} </p>
          </div>

          <div>
            <p>Cantidad: {{ product.count }}</p>
          </div>

          <div>
            <p>
              Precio: {{ product.product.price }}
            </p>
          </div>

          <div>
            {{product.total}}
          </div>

          <!-- Botones para aumentar o disminuir cantidad -->
          <button mat-icon-button color="primary" (click)="increaseQuantity(product.product.id)">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="decreaseQuantity(product.product.id)">
            <mat-icon>remove</mat-icon>
          </button>
        </li>
      </ul>

      <div>
        <p>Total: {{ totalCost }}</p>
      </div>

      <!-- Si el carrito está vacío, mostrar este mensaje -->
      <ng-template #emptyCart>
        <p>El carrito está vacío</p>
      </ng-template>
    </mat-drawer>

		<mat-drawer-content class="drawer-container__content ">
			<h1>Lista de productos</h1>
			<div class="products">
				<!-- La razón por la que aparenta hacer un bucle infinito, es que Angular ejecuta la detección de cambios
          para verificar si algo cambio y si es necesario actualizar el DOM, y recordar que un evento asincrónico activa
          la detección de cambios como la finalización de una solicitud XMLHttpRequest.
          En este caso se esta llamando directamente la función getProducts(), tambien el asyncPipe llama internamente markForCheck
          cada vez que se emite un nuevo valor. -->

          <!-- @for (product of _productApiService.getProducts() | async; track product.id) {
            <app-product [product]="product" />
          } -->

          @for (product of products; track product.id) {
            <app-product [product]="product"  />
          }

          <!-- Un enfoque reactivo sería lo ideal para manejar automaticamente la subscripción -->
          <!-- @for (product of products$ | async; track product.id) {
            <app-product [product]="product" />
          } -->
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
