.menu {
	background-color: green;
	height: 100%;
}

.menu-ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 20px;
	margin: 0;
}

.menu-ul__item {
	cursor: pointer;
}

.menu-ul__item:hover {
	color: #00dea3;
}

