<mat-card>
  @if(pokemon){
  <mat-card-header>
    <mat-card-title>{{ pokemon.nombre }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex gap-6">
      <img
        mat-card-image
        src="{{ pokemon.imagen }}"
        width="150"
        alt="pokemon"
      />
      <div class="flex justify-center items-center leading-8 flex-col">
        {{ pokemon.descripcion }}
        <span>
          @if(pokemon.tipos.length > 1){
            Tipos:
          }@else{
            Tipo:
          }
          {{pokemon.tipos.join(' | ') }}
        </span>
      </div>
    </div>
    <!-- <p>{{pokemon.tipos}}</p> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="eliminarPokemons.emit(pokemon)" >ELMINAR</button>
  </mat-card-actions>
  }@else{
  <h5>Seleccione un pokemon de la lista</h5>
  }
</mat-card>
